/* color palette */
/* hsl(31, 90%, 69%)
hsl(23, 90%, 68%)
hsl(15, 87%, 66%)
hsl(9, 85%, 65%)
hsl(3, 86%, 64%)
hsl(21, 6%, 51%)
hsl(38, 8%, 72%) */

nav {
  display: flex;
  width: 180px;
}

nav ul {
  display: flex;
  flex-direction: column;
  height: 1200px;
  border: solid black;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  background-color: hsl(3, 86%, 64%);
}
body {
  border: solid black;
  display: flex;
  /* justify-content: center; */
  background-color:hsl(21, 6%, 51%);
  /* flex-direction: row; */
}

header {
  border: solid black;
  display: flex;
  background-color: hsl(23, 90%, 68%);
  justify-content: space-between;
}

header img {
  padding: 10px;
  margin-right: 100px;
}

header h1 {
  font-weight: 600;
  color: hsl(21, 6%, 51%);
  padding: 20px;
  margin-top: 30px;
  margin-left: 280px;
  font-family: 'Rock Salt', cursive;
}

main { 
  display: flex;
  flex-direction: row;
}

footer {
  border: solid black;
  display: flex;
  background-color: hsl(15, 87%, 66%);
  flex-direction: row;
}


a {
  text-decoration: none;
  color: hsl(31, 90%, 69%);
}
a:hover {
  color: hsl(3, 86%, 64%);

}

button {
  background-color: hsl(21, 6%, 51%);
  border-radius: 20px;
  border: solid hsl(21, 6%, 51%);
  padding: 1em;
  width: 128px;
  color: hsl(31, 90%, 69%);
  font-weight: bold;
  font-size: 0.8em;
}

button:hover {
  background-color: hsl(38, 8%, 72%);
  border: dotted hsl(21, 6%, 51%);
  color: hsl(3, 86%, 64%);
}

header div {
  display: flex;
  align-items: flex-start;
}

div img {
  width: 30%;
}



table {
  /* background-color: slategray; */
}

th {
  border: solid hsl(300, 50%, 19%);
  padding: 5px;
  /* background-color: slategray; */
  color: salmon;
}

tr:hover {
  background-color: rgba(138, 138, 138, 0.486);
}

form {
  border: 1px solid black;
  padding: 5px;
  display: flex;
  height: 200px;
  width: 50%;
  /* flex-direction: column; */
  /* align-items: flex-start; */
  justify-content: center;
}

fieldset {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 15px;
}

label {
  padding: 4px;
}